.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 0.5rem;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-style: italic;
}