.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 0.5rem;

    transition: border 350ms linear,
                transform 500ms ease-in-out;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.tech-card.completed {
    border-color: green;
}

.tech-card.in-progress {
    border-color: yellow;
}

.tech-card.not-started {
    border-color: red;
}

.tech-card:hover {
    transform: translateY(-5px);
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-style: italic;
}